body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $comfortaaFont;
  font-size: 16px;
  color: $whiteColor;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1, h2, h3 {
  margin: 0;
  font-family: $balsamiqFont;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;

  @media (max-width: $mobile) {
    font-size: 35px;
  }
}

h2 {
  font-size: 45px;

  @media (max-width: $mobile) {
    font-size: 30px;
  }
}

h3 {
  font-size: 35px;

  @media (max-width: $mobile) {
    font-size: 25px;
  }
}

h4 {
  font-size: 28px;

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

p, ul, li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  position: relative;
  padding: 0 40px;

  @media (max-width: $mobile) {
    padding: 0 20px;
  }
}

.title-section {
  margin-bottom: 30px;
}

.title-data {
  margin-bottom: 10px;
}

.title-info {
  margin-bottom: 20px;
}

.title-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
  }
}

.style-title {
  -webkit-text-stroke: 1px #ffffff;
  text-shadow: 4px 4px 0 #131313, -2px -2px 0 #131313, 2px 2px 0 #131313, -2px 2px 0 #131313, 2px 2px 0 #131313;
}

.education-section,
.experience-section,
.skills-section,
.about-section,
.portfolio-section {
  position: relative;
  padding: 40px 0;
}

.main-section,
.experience-section,
.about-section {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.main-section {
  display: flex;
  height: 100vh;

  &:before {
    background-image: url("../../public/img/main.jpg");
    background-position: center right;

    @media (max-width: $mobile) {
      background-position: center right -150px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.education-section, .skills-section, .portfolio-section {
  background-color: $blackColor;
}

.education-section, .skills-section {
  text-align: right;
}

.experience-section, .about-section {

  .title-section, .title-data, .title-info {
    -webkit-text-stroke: 1px $blackColor;
    text-shadow: 3px 3px 0 $whiteColor, -1px -1px 0 $whiteColor, 1px -1px 0 $whiteColor,
    -1px 1px 0 $whiteColor, 1px 1px 0 $whiteColor;
  }

  .title-info {
    font-size: 20px;
  }
}

.experience-section {
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: $blackColor;

  &:before {
    background-image: url("../../public/img/experience.jpg");
    background-position: center center;
  }
}

.about-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: $blackColor;

  &:before {
    background-image: url("../../public/img/about.jpg");
    background-position: center right;

    @media (max-width: $mobile) {
      background-position: center right -75px;
    }
  }

  @media (max-width: $mobile) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p {
    width: 50%;

    @media (max-width: $mobile) {
      width: auto;
    }
  }
}

.portfolio-section {
  .title-section {
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
}
